@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<p>
    Like something?<br />
    Don't like something?<br />
    Let us know!<br />
</p>

<address>
    <strong>Email:</strong> <a href="mailto:wsbarth92@gmail.com">wsbarth92@gmail.com</a><br />
</address>
